li{
    list-style: none;
}
.container {
    margin-top: 20px;
    width: 900px; /* Adjust the width as needed */
    height: auto; /* Adjust the height as needed */
    background-color: #202abb; /* Set the background color */
    color: #fff; /* Set the text color */
    text-align: center;
    border-radius: 10px; /* Set border radius for rounded corners */
  }
.activity-addBtn{
    /* background-color: red; */
    display: flex;
    gap: 1px;
    justify-content: center;
    padding: 10px;
    margin: 10px 0;
}


input, button{
background-color: rgb(101, 207, 101);
/* margin-top: 10px; */
padding: 8px 80px 8px 4px;
outline: none;
border: none;
border-radius: 5px;
}
input{
    background-color: white;
    color: black;
    font-weight: 530;
    font-size: 25px;
}
.addBtn{
    font-size: 30px;
    padding: 8px 30px;
    font-weight: bold;
    cursor: pointer;
}
.todosListInfo{
    color: bisque;
    font-size: 37px;
    margin: 10px 0;
}
.dataContainer{
    display: flex;
    justify-content: center;
}
.todos{
    background-color: aliceblue;
    width: 400px;
    /* margin: auto; */
    color: black;
    font-size: 25px;
    border-radius: 2px;
    margin-bottom: 1px;
    margin-right: 2px;
    border: 1px solid red;
    padding: 5px 0;
}
.rmvEditBtn{
    display: flex;
}
.rmvEditBtn button{
    margin-top: 0;/* to overwrite the above button style*/
}

.rmvBtn{
    background-color: red; 
    text-align: center;
    padding: 8px 17px;
    font-size: 20px;
    
}
.editBtn{
    text-align: center;
    padding: 8px 25px;
    font-size: 20px;
}
